[submodule "games/falling-sand"]
	path = games/falling-sand
	url = git@github.com:knackstedt/falling-sand.git
[submodule "games/andrews-sandbox"]
	path = games/andrews-sandbox
	url = git@github.com:knackstedt/andrews-sandbox.git
[submodule "games/mining-rpg"]
	path = games/mining-rpg
	url = git@github.com:knackstedt/mining-rpg.git
[submodule "games/overburden"]
	path = games/overburden
	url = git@github.com:knackstedt/overburden.git
[submodule "games/sandjongg"]
	path = games/sandjongg
	url = git@github.com:knackstedt/sandjongg.git
[submodule "games/to-the-ocean"]
	path = games/to-the-ocean
	url = git@github.com:knackstedt/to-the-ocean.git
[submodule "games/downdraft-model-viewer"]
	path = games/downdraft-model-viewer
	url = git@github.com:knackstedt/downdraft-model-viewer.git
[submodule "games/downdraft-gpu-bench"]
	path = games/downdraft-gpu-bench
	url = git@github.com:knackstedt/downdraft-gpu-bench.git
[submodule "games/archery-game"]
	path = games/archery-game
	url = git@github.com:knackstedt/archery-game.git
